#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x09, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


10105 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36,,NOT WS_GROUP
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Select the features you want to install, and deselect the features you do not want to install.  Click Next to continue.",901,17,40,293,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Option1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,17,65,152,12
	CONTROL		"Option2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,17,80,152,12
	CONTROL		"Option3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,17,95,152,12
	CONTROL		"Option4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,17,110,152,12
	CONTROL		"Option5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,17,126,152,12
	CONTROL		"Option6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,65,145,12
	CONTROL		"Option7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,145,12
	CONTROL		"Option8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,95,145,12
	CONTROL		"Option9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,145,12
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&OK",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Select the setup type that best suits your needs.",51,17,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Setup Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12005 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"c:\\path\\company\\product\\suite\\version",715,23,160,222,9,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Setup will install %P in the following folder.\n\nTo install to this folder, click Next. To install to a different folder, click Browse and select another folder.",718,16,40,284,56,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Choose Destination Location",50,10,0,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14,WS_GROUP
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	PUSHBUTTON	"< &Back",12,166,196,50,14
	GROUPBOX	"Destination Folder",-1,16,145,298,32,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"B&rowse...",196,259,155,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Select folder where setup will install files.",51,16,15,213,19,0,WS_EX_TRANSPARENT
END


12056 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"Check the disk space for the volumes to ensure there is enough disk space available.  You can remove files from any volumes that do not have enough disk space, choose to install fewer features onto local drives, or select different destination drives.",710,15,142,304,35,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Disk Space Requirements",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	DEFPUSHBUTTON	"OK",1,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,1,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"The disk space required for installation of the selected features.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"List1",1004,"SysListView32",LVS_REPORT | LVS_ALIGNTOP | WS_TABSTOP | WS_BORDER,15,44,304,88
END


12021 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"c:\\path\\company\\product",715,23,139,228,10,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Select Features",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	GROUPBOX	"Destination Folder",-1,16,128,298,26,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"B&rowse...",196,260,136,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Select the features setup will install.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"C:",722,80,160,8,8
	LTEXT		"Feature list field goes here.",401,16,59,298,64
	LTEXT		"Select the features you want to install, and deselect the features you do not want to install.",711,16,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"Disk &Space...",195,264,164,50,14,WS_GROUP
	LTEXT		"Space Available on",-1,16,172,62,8
	LTEXT		"Space Required on",-1,16,160,62,8
	RTEXT		"0 KB",717,120,172,69,8
	RTEXT		"0 KB",716,120,160,69,8
	LTEXT		"C:",723,80,172,8,8
END


12060 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,110,0,221,185
	LTEXT		"The system has not been modified. To install this program at a later time, run the installation again.\n\nClick Finish to exit the wizard.",712,117,113,198,56,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"Finish",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14,WS_DISABLED
	LTEXT		"The wizard was interrupted before %P could be completely installed.",711,117,34,198,40,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard Completed.",50,117,10,198,16,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,0,186,332,1
	CONTROL		10001,1301,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,110,185
END


12019 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"Field 1:",719,16,84,36,8
	EDITTEXT	301,71,81,213,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 2:",720,16,116,36,8
	EDITTEXT	302,71,113,213,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_DISABLED | WS_GROUP
	LTEXT		"Field 3:",721,16,148,53,8
	EDITTEXT	303,71,145,213,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Please set the port and admin password for the Postgres database.  You may need this password if accessing the db through 3rd party tools.",711,16,39,298,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,16,163,298,17,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,271,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Server Setup",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	LTEXT		"(The length of password should be in 6 ~ 12.)",1304,58,176,183,8,,NOT WS_GROUP,WS_EX_TRANSPARENT
	LTEXT		"(A Password cannot contain any of the following characters: <>&&'"";)",1303,58,163,233,9,,NOT WS_GROUP,WS_EX_TRANSPARENT
	LTEXT		"(The port should be in 100 ~ 65535.)",1302,71,98,121,13,,NOT WS_GROUP,WS_EX_TRANSPARENT
END


12018 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"Field 1:",719,16,84,36,8
	EDITTEXT	301,56,81,258,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 2:",720,16,116,36,8
	EDITTEXT	302,56,113,258,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	LTEXT		"Please input  username and password  of the postgres database",711,16,40,298,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,16,163,298,17,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Enter requested data.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12017 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	EDITTEXT	301,56,81,168,12,NOT WS_TABSTOP | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Enter requested data.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Please input the port of benchmark.",711,16,39,298,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,16,163,298,17,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Field 1:",719,16,84,36,8
END


10205 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"The InstallShield Wizard will install %P on your computer.  To continue, click Next.",202,127,49,184,40,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,0,186,332,1
	LTEXT		"",52,110,0,221,185
	LTEXT		"Welcome to the InstallShield Wizard for %P",50,127,19,184,16,0,WS_EX_TRANSPARENT
	CONTROL		10001,1301,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,110,185
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12064 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	CONTROL		"Yes, I want to restart my computer now.",502,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,117,83,198,12
	CONTROL		"No, I will restart my computer later.",503,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,117,104,198,12
	CONTROL		"&Check for update after reboot.",1006,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,117,167,198,12
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"Finish",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14,WS_DISABLED
	LTEXT		"The InstallShield Wizard has successfully installed %P.  Before you can use the program, you must restart your computer.",711,117,38,198,40,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard Complete",50,117,17,198,16,0,WS_EX_TRANSPARENT
	LTEXT		"Remove any disks from their drives, and then click Finish to complete setup.",712,117,129,197,32,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		10001,1301,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,110,185
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,0,186,332,1
	LTEXT		"",52,110,0,221,185
END


12063 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	CONTROL		10001,713,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,4,4,110,185
	LTEXT		"InstallShield Wizard Complete",50,117,10,198,17,0,WS_EX_TRANSPARENT
	LTEXT		"",52,110,0,221,185
	LTEXT		"Setup has finished installing %P on your computer.\n\nSome program files might have been updated since you purchased your copy of %P.",711,117,34,198,41,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Your Internet connection can be used to make sure that you have the latest updates.",712,117,81,198,25,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"&Yes, check for program updates. (Recommended)\nPlease ensure that you're connected to the Internet before you proceed.",502,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,117,113,198,25
END


12031 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,110,0,221,185
	CONTROL		"Yes, I want to restart my computer now.",502,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,117,83,198,12
	CONTROL		"No, I will restart my computer later.",503,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,117,104,198,12
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"Finish",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14,WS_DISABLED
	LTEXT		"The InstallShield Wizard has successfully installed %P.  Before you can use the program, you must restart your computer.",711,117,38,198,40,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Remove any disks from their drives, and then click Finish to complete setup.",712,117,129,197,48,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard Complete",50,117,17,198,16,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,0,186,332,1
	CONTROL		10001,1301,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,110,185
END


12032 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,110,0,221,185
	CONTROL		"Yes, I want to view the ReadMe file.",501,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,117,76,198,12
	CONTROL		"Yes, I want to launch %p now.",502,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,117,91,198,16
	LTEXT		"",712,117,113,198,56,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	CONTROL		10001,1301,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,110,185
	PUSHBUTTON	"Cancel",9,272,196,50,14,WS_DISABLED
	LTEXT		"The InstallShield Wizard has successfully installed %P.  Click Finish to exit the wizard.",711,117,34,198,40,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard Complete",50,117,10,198,16,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,0,186,332,1
	DEFPUSHBUTTON	"Finish",1,215,196,50,14
END


12006 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_DISABLED
	LTEXT		"The InstallShield Wizard will install %P on your computer.  To continue, click Next.",710,127,49,184,40,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,0,186,332,1
	CONTROL		10001,551,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE | WS_DISABLED,0,0,110,185
	LTEXT		"",52,110,0,221,185
	LTEXT		"Welcome to the InstallShield Wizard for %P",50,127,19,184,27,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12053 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Welcome to the %P Setup Maintenance program. This program lets you modify the current installation. Click one of the options below.",710,17,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"R&epair",302,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,17,79,108,9
	CONTROL		"&Remove",303,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,17,121,124,9
	LTEXT		"Reinstall all program features installed by the previous setup.",702,62,92,243,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Remove all installed features.",703,62,135,243,16,ES_AUTOHSCROLL | SS_NOPREFIX
	ICON		10002,1002,32,89,20,20,WS_DISABLED
	ICON		10004,1003,32,134,20,20,WS_DISABLED
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	LTEXT		"Welcome",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Modify, repair, or remove the program.",51,17,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,160,256,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12030 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Install",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	EDITTEXT	301,17,79,298,97,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER | WS_HSCROLL,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Current Settings:",701,17,68,134,8
	LTEXT		"Setup has enough information to start copying the program files.  If you want to review or change any settings, click Back.  If you are satisfied with the settings, click Next to begin copying files.",711,17,40,298,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Review settings before copying files.",51,17,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Start Copying Files",50,10,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12029 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	EDITTEXT	301,17,63,298,87,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&I Agree >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"Press the PAGE DOWN key to see the rest of the agreement.",711,17,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX | NOT WS_VISIBLE
	LTEXT		"Do you accept all the terms of the preceding License Agreement?  If you select No,  the setup will close.  To install %p, you must accept this agreement.",712,17,155,244,24,ES_AUTOHSCROLL | SS_NOPREFIX | NOT WS_VISIBLE
	PUSHBUTTON	"&Print",10,265,155,50,14
	LTEXT		"License Agreement",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please read the following license agreement carefully.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,81,198,20,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
END


12069 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,17,45,298,102,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"License Agreement",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please read the following license agreement carefully.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,81,198,20,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"I &accept the terms of the license agreement",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,17,152,245,10
	CONTROL		"I &do not accept the terms of the license agreement",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,17,165,245,10
	PUSHBUTTON	"&Print",10,265,152,50,14
END


12066 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	EDITTEXT	301,17,45,298,102,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&I Agree >",1,213,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"License Agreement",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please read the following license agreement carefully.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,81,198,20,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"&Print",10,265,152,50,14
END


CMSGDLG DIALOGEX 0,0,340,80
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",7,2,43,339,10,NOT WS_VISIBLE
	PUSHBUTTON	"OK",12,148,64,48,14
	ICON		10003,14,6,13,38,39,WS_DISABLED
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	LTEXT		"",13,0,41,46,33,,NOT WS_GROUP,WS_EX_TRANSPARENT
	LTEXT		"Text",11,45,7,295,52,,NOT WS_GROUP,WS_EX_TRANSPARENT
END


12054 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"&User Name:",-1,17,55,74,9
	EDITTEXT	301,17,69,276,13,ES_LEFT | WS_GROUP
	LTEXT		"&Company Name:",-1,17,89,87,9
	EDITTEXT	302,17,104,276,13,ES_LEFT | WS_GROUP
	LTEXT		"Install this application for:",304,15,136,298,8,NOT WS_VISIBLE
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,331,10,NOT WS_VISIBLE
	LTEXT		"Customer Information",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please enter your information.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	CONTROL		"&Anyone who uses this computer (all users)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,62,186,1,1
	CONTROL		"Only for &me (<USERNAME>)",1002,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,44,186,1,1
END


12052 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"Tree1",1000,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_FULLROWSELECT | WS_TABSTOP | WS_BORDER,17,60,180,99
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"Text",712,210,71,97,82
	LTEXT		"Select the features you want to install, and deselect the features you do not want to install.",711,17,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"%s of space required on the %s drive",722,17,161,296,8,NOT WS_VISIBLE
	LTEXT		"%s of space available on the %s drive",723,17,170,296,8,NOT WS_VISIBLE
	LTEXT		"Select Features",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the features setup will install.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"Description",-1,202,58,113,101,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END




/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
10002		ICON	"D:\\Program Files\\InstallShield\\2010\\Script\\Dialogs\\IconId_10002.ico"
10003		ICON	"I:\\Netbrain5.1\\ESinstall\\Icons\\a10.ico"
10004		ICON	"D:\\Program Files\\InstallShield\\2010\\Script\\Dialogs\\IconId_10004.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//
10001		BITMAP	"I:\\Netbrain5.1\\ESinstall\\support\\interface\\setup_left.bmp"
